# .env.example
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=<Enter_Your_Strong_Password_Here>
ConnectionStrings__InnoTrackConnection=Server=sqlserver;Database=InnoTrackDb;User Id=sa;Password=<Enter_Your_Strong_Password_Here>;TrustServerCertificate=True;
AiService__BaseUrl=http://python-ai:8000/api/
JwtSettings__Secret=<Enter_Your_Jwt_Secret_Here>